* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.jokes {
    background: #fff;
    width: 400px;
    padding: 25px;
  
    text-align: center;
}

#jokes {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}
